
@{
    ViewBag.Title = "PaymentResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script>
        window.onload = function () {
            var sonuc = '@ViewBag.Sonuc';
            console.log(sonuc.split("&lt;").join("<").split("&#39;").join("'").split("&gt;").join(">"));
            $(".odemeSonucu").html(sonuc.split("&lt;").join("<").split("&#39;").join("'").split("&gt;").join(">"));
    }
    </script>

    <div class="section">
        @ViewBag.Hata;
        <div class="container odemeSonucu">

        </div>
    </div>


