
@{
    ViewBag.Title = "İrsaliyeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td,th {
        white-space: nowrap;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        font-family: Arial;
    }
</style>
<script>
    var tableData;
    window.onload = function () {
        $(".navigationirsaliyeler").addClass("active");
        loading(true);
        $.ajax({
            url: '/Dispatch/IrsaliyeleriGetir/',
            type: 'POST',
            dataType: 'text',
            success: function (data) {

                tableData = JSON.parse(data);

                for (var i = 0; i < tableData.iteM_M_M.length; i++) {
                    $("#exampleTable").append('<tr>' +
                        '<td>' + tableData.iteM_M_M[i].docDate + '</td>' +
                        '<td>' + tableData.iteM_M_M[i].docNo + '</td>' +
                        '<td>' + tableData.iteM_M_M[i].entityCode + '</td>' +
                        '<td>' + tableData.iteM_M_M[i].entityName + '</td>' +
                        '<td>' + tableData.iteM_M_M[i].purchaseSales + '</td>' +
                        '<td>' + tableData.iteM_M_M[i].shippingCityName + '</td>' +
                        '<td>' + tableData.iteM_M_M[i].shippingTownName + '</td>' +
                        '<td>' + tableData.iteM_M_M[i].note1 + '</td>' +
                        '<td style="display:none">' + i + '</td>' +
                        '</tr>');
                }



                TableHtml = $("#exampleTable").html();


                //Insert a 'details' column to the table
                var nCloneTh = document.createElement('th');
                var nCloneTd = document.createElement('td');
                nCloneTd.innerHTML = '<img src="http://i.imgur.com/SD7Dz.png">';
                nCloneTd.className = "center";
                $('#exampleTable thead tr').each(function () {
                    this.insertBefore(nCloneTh, this.childNodes[0]);
                });

                $('#exampleTable tbody tr').each(function () {
                    nCloneTd.id = this.childNodes[8].innerHTML;
                    this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
                });

                var oTable = $('#exampleTable').dataTable({
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                    },
                    paging: false,
                    ordering: false,
                    dom: 'Bfrtip',
                    buttons: [
                        'excel'
                    ]
                });
                $('#exampleTable tbody td img').on('click', function () {
                   
                    var nTr = $(this).parents('tr')[0];
                    if (oTable.fnIsOpen(nTr)) {
                        /* This row is already open - close it */
                        this.src = "http://i.imgur.com/SD7Dz.png";
                        oTable.fnClose(nTr);
                    }
                    else {
                        /* Open this row */
                      
                        this.src = "http://i.imgur.com/d4ICC.png";
                        oTable.fnOpen(nTr, fnFormatDetails(iTableCounter, $(this).parents('td')[0].id), 'details');
                        oInnerTable = $("#exampleTable_" + iTableCounter).dataTable({
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                            },
                            "bJQueryUI": true,
                            "sPaginationType": "full_numbers",
                            "pageLength": 100
                        });
                        $("#exampleTable_" + iTableCounter + "_length").remove();
                        $("#exampleTable_" + (iTableCounter) + "_filter").remove();
                        $("#exampleTable_" + (iTableCounter) + "_info").remove();
                        $("#exampleTable_" + (iTableCounter) + "_paginate").remove();
                        iTableCounter = iTableCounter + 1;
                    }
                });
                loading(false);
            }
        });

    }


    //**************************************************************

    function fnFormatDetails(table_id, id) {
        var siparisNo = tableData.iteM_M_M[id].docNo;
        var html = '<thead style="background-color:#8d99ae;color:white"><tr>' +
            '<th>Kodu</th>' +
            '<th>Adı</th>' +
            '<th>Miktar</th>' +
            '<th>Birim</th>' +
           
            '</tr ></thead > ';
        html += '<tbody>';
        for (var i = 0; i < tableData.iteM_D.length; i++) {
            if (siparisNo == tableData.iteM_D[i].docNo) {
                html += '<tr>' +
                    '<td>' + tableData.iteM_D[i].dcardCode + '</td>' +
                    '<td>' + tableData.iteM_D[i].dcardName + '</td>' +
                    '<td>' + formatMoney(tableData.iteM_D[i].qty.replace(',', '.')) + '</td>' +
                    '<td>' + tableData.iteM_D[i].unitCode + '</td>' +
                   
                    '</tr>';
            }
        }
        html += '</tbody>';
        var sOut = "<table style='border:3px solid #8d99ae' class=\"table table-striped\" id=\"exampleTable_" + table_id + "\">";
        sOut += html;
        sOut += "</table>";
        return sOut;
    }



    var iTableCounter = 1;
    var oTable;
    var oInnerTable;
    var TableHtml;


</script>


<div style="overflow:auto;min-height:300px">
    <table id="exampleTable" class="table table-striped table-sm">
        <thead style="background-color:#337ab7;color:white">
            <tr>
                <th>Tarih</th>
                <th>İrsaliye No</th>
                <th>Cari Kodu</th>
                <th>Cari Adı</th>
                <th>Tipi</th>
                <th>Sevk İli</th>
                <th>Sevk İlçesi</th>
                <th>İrsaliye Notu</th>
                <th style="display:none"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
